* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
    background-color: #eef2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container {
    background: #ffffff;
    width: 800px;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
 
h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #ffffff;
    padding: 5%;
    background-color: #0056b2;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 18px;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}